/* 轮播图 */
.carousel {
  position: relative;
  height: 280rpx;
  overflow: hidden;
  background-color: #efefef;
  transform: translateY(0);
  .indicator {
    position: absolute;
    right: 0;
    bottom: 16rpx;
    left: 0;
    display: flex;
    justify-content: center;
    .dot {
      width: 30rpx;
      height: 6rpx;
      margin: 0 8rpx;
      background-color: rgb(255 255 255 / 40%);
      border-radius: 6rpx;
    }
    .active {
      background-color: #ffffff;
    }
  }
  .navigator,
  .image {
    width: 100%;
    height: 100%;
  }
}
